:host {
    .circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        min-width: 50px;

        mat-icon {
            font-size: 24px;
            color: #fff;
        }
    }

    .user-card {
        h5 {
            color: #3b3b3b;
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 8px;
            letter-spacing: 1.4px;
        }

        p {
            color: #858585;
            line-height: 22px;
            font-size: 16px;
        }
    }

    .content {
        @media screen and (min-width: 960px) and (max-width: 1200px) {
            flex-direction: row !important;
        }

        .item {
            margin-right: 16px;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
    .title{
        @media screen and (min-width: 960px) and (max-width: 1200px) {
            font-size: 24px !important;
        }
    }
    .blog-post{
        background-color: #fff;
    }

    .blog-post-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 240px;
    }

    .blog-post-description {
        h3 {
            color: #3b3b3b;
        }

        p {
            font-family: 'Muli', sans-serif;
            color: #858585;
        }
    }

    .blog-tag {
        background-color: indigo;
        color: #fff;
    }
}