<div fxLayout.gt-sm="row" fxLayout='column' fxLayout.md='column' fxLayoutGap="16px" class="content mb-32">
    <div fxFlex.gt-sm="33%" fxFlex="100%" class="card item">
        <div fxLayout="row">
            <div class="circle circle-success mr-12" fxLayoutAlign="center center">
                <mat-icon>verified_user</mat-icon>
            </div>
            <div class="user-card">
                <h5>$12121</h5>
                <p>Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit.ditiis! Quod!</p>
            </div>
        </div>
    </div>
    <div fxFlex.gt-sm="33%" fxFlex="100%" class="card item">
        <div fxLayout="row">
            <div class="circle circle-accent mr-12" fxLayoutAlign="center center">
                <mat-icon>toll</mat-icon>
            </div>
            <div class="user-card">
                <h5>$12121</h5>
                <p>Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit blanditiis! Quod!</p>
            </div>
        </div>
    </div>
    <div fxFlex.gt-sm="33%" fxFlex="100%" class="card item">
        <div fxLayout="row">
            <div class="circle circle-warn mr-12" fxLayoutAlign="center center">
                <mat-icon>card_giftcard</mat-icon>
            </div>
            <div class="user-card">
                <h5>$12121</h5>
                <p>Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit.rem blanditiis! Quod!</p>
            </div>
        </div>
    </div>
</div>


<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px">
    <div fxFlex.gt-sm="50%" fxFlex="100%">
        <div class="blog-post">
            <div class="blog-post-img" [ngStyle]="{'background-image':'url('+blogImg+')'}"></div>
            <div class="blog-post-description p-16">
                <h3 class="mb-16 line-height-24 primary-text title" 
                ngClass.gt-sm="font-size-20"
                ngClass.sm="font-size-16"
                ngClass.xs="font-size-16"
                >Lorem ipsum dolor sit amet.</h3>
                <span class="tag blog-tag font-size-12">Technology</span>
                <p class="mt-32 secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sit
                    deserunt assumenda rerum sed architecto consectetur ab, totam quas earum.</p>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-32">
                    <a href="">Read more</a>
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex.gt-sm="50%" fxFlex="100%">
        <h3 class="mb-16 font-size-20 line-height-24 primary-text">Lorem ipsum dolor sit amet.</h3>
    </div>
</div>