<section
  fxLayout="row"
  fxLayout.lt-lg="column"
  fxFlex="100"
  fxLayoutGap="20px"
  class="card-section"
>
  <div
    fxLayout="row"
    fxFlex="25"
    class="card-item"
    fxLayoutAlign="start center"
  >
    <div class="icon bg-24D2B5" fxLayoutAlign="center center">
      <i class="material-icons">view_compact</i>
    </div>
    <div class="line-height-nomal description">
      <span class="font-size-20">$18090</span>
      <p class="m-0">Income</p>
    </div>
  </div>
  <div
    fxLayout="row"
    fxFlex="25"
    class="card-item"
    fxLayoutAlign="start center"
  >
    <div class="icon bg-20AEE3" fxLayoutAlign="center center">
      <i class="material-icons">person</i>
    </div>
    <div class="line-height-nomal description">
      <span class="font-size-20">2690</span>
      <p class="m-0">Users</p>
    </div>
  </div>
  <div
    fxLayout="row"
    fxFlex="25"
    class="card-item"
    fxLayoutAlign="start center"
  >
    <div class="icon bg-6772E5" fxLayoutAlign="center center">
      <i class="material-icons">calendar_today</i>
    </div>
    <div class="line-height-nomal description">
      <span class="font-size-20">20 march</span>
      <p class="m-0">My birthday</p>
    </div>
  </div>
  <div
    fxLayout="row"
    fxFlex="25"
    class="card-item"
    fxLayoutAlign="start center"
  >
    <div class="icon bg-FF5C6C" fxLayoutAlign="center center">
      <i class="material-icons">settings</i>
    </div>
    <div class="line-height-nomal description">
      <span class="font-size-20">6540</span>
      <p class="m-0">Pending</p>
    </div>
  </div>
</section>
