<section
  fxLayout="row"
  fxLayout.lt-lg="column"
  fxFlex="100"
  fxLayoutGap="20px"
  class="list-section"
>
  <div fxFlex="30" fxFlex.lt-lg="100">
    <div class="list-item p-20 h-100">
      <div class="text-bold">Today's Schedule</div>
      <span class="text-grey">check out your daily schedule</span>

      <ul>
        <li>
          <div class="ul-icon bg-24D2B5" fxLayoutAlign="center center">
            <i class="material-icons">view_compact</i>
          </div>
          <div>dasdasdasd <span class="text-grey font-size-12">5pm</span></div>
          <div class="text-grey">dhad jkljda dklasj ksj das djdklsad</div>
        </li>
        <li>
          <div class="ul-icon bg-24D2B5" fxLayoutAlign="center center">
            <i class="material-icons">face</i>
          </div>
          <div>dasdasdasd <span class="text-grey font-size-12">5pm</span></div>
          <div class="text-grey">dhad jkljda dklasj ksj das djdklsad</div>
        </li>
        <li>
          <div class="ul-icon bg-24D2B5" fxLayoutAlign="center center">
            <img src="../../assets/human.jpg" />
          </div>
          <div>dasdasdasd <span class="text-grey font-size-12">5pm</span></div>
          <div class="text-grey">dhad jkljda dklasj ksj das djdklsad</div>
        </li>
        <li>
          <div class="ul-icon bg-24D2B5" fxLayoutAlign="center center">
            <img src="../../assets/image.jpg" />
          </div>
          <div>dasdasdasd <span class="text-grey font-size-12">5pm</span></div>
          <div class="text-grey">dhad jkljda dklasj ksj das djdklsad</div>
          <div>
            <input type="submit" value="Approve" class="button-approve" />
            <input type="submit" value="Refuse" class="button-refuse" />
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div fxFlex="70">
    <div fxLayoutAlign="space-between center" class="list-item mb-20 p-20">
      <div fxLayout="column">
        <span class="text-bold">
          Sales Overview
        </span>
        <span>
          check the overview
        </span>
      </div>

      <span fxLayoutAlign="center center">
        January
        <i class="material-icons"> expand_more</i>
      </span>
    </div>
    <div fxLayoutAlign="space-between center" class="mb-20 p-20">
      <div fxLayout="column">
        <span class="font-size-36">
          March,2017
        </span>
        <span class="font-size-20">
          report for this month
        </span>
      </div>

      <span class="font-size-42">
        $3690
      </span>
    </div>
    <div class="list-item">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of list">
            <td>
              {{ i.Sl }}
            </td>
            <td>{{ i.name }}</td>
            <td>
              <span
                class="font-size-12 text-white span-border p-4 plr-8 {{
                  i.color
                }} text-bold"
              >
                {{ i.status }}
              </span>
            </td>
            <td>{{ i.date }}</td>
            <td>{{ i.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
