.list-item {
	background-color: #ffffff;
	box-sizing: border-box;
}

.icon {
	color: white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.span-border {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

table {
	width: 100%;
	border-collapse: collapse;
	thead {
		tr {
			border-bottom: 1px solid #f1f1f1;
			th {
				text-align: left;
				padding: 12px;
			}
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid #f1f1f1;
			td {
				padding: 12px;
			}
		}
	}
}

ul {
	list-style: none;
	li {
		position: relative;
		padding: 20px;
		.ul-icon {
			content: '';
			position: absolute;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			left: -40px;
			top: 50%;
			transform: translate(0, -50%);
			img {
				height: 100%;
				width: 100%;
				border-radius: 50%;
			}
		}
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			border-left: 1px solid #f1f1f1;
			border-bottom: 1px solid #f1f1f1;
			left: -20px;
			top: 100%;
			transform: translate(0, -100%);
			&::last-child {
				display: none;
			}
		}
	}
}

.button-approve {
	background: white;
	border: 2px solid #24D2B5;
	color: #24D2B5;
	font-size: 14px;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 8px;
	margin-left: 0px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.button-refuse {
	background: white;
	border: 2px solid #e90a72;
	color: #e90a72;
	font-size: 14px;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 8px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
