.blog-item {
	background-color: #ffffff;
}

img {
	height: 300px;
	width: 100%;
}

.icon {
	color: white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.span-border {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

table {
	width: 100%;
	border-collapse: collapse;
	thead {
		tr {
			border-bottom: 1px solid #f1f1f1;
			th {
				text-align: left;
				padding-bottom: 12px;
				padding-top: 12px;
			}
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid #f1f1f1;
			td {
				padding-bottom: 12px;
				padding-top: 12px;
			}
		}
	}
}

.list-img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
