<section
  fxLayout="row"
  fxLayout.lt-lg="column"
  fxLayoutGap="20px"
  class="blog-section"
>
  <div fxFlex="60" class="blog-item p-20">
    <div fxLayoutAlign="space-between center">
      <span>Projects of the month</span>
      <span fxLayoutAlign="center center">
        January
        <i class="material-icons"> expand_more</i>
      </span>
    </div>
    <div class="p-20">
      <table>
        <thead>
          <tr>
            <th>Assigned</th>
            <th>Name</th>
            <th>Priority</th>
            <th>Budget</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of list">
            <td>
              <div fxLayoutAlign="start center">
                <div class="icon bg-24D2B5" fxLayoutAlign="center center">
                  <i class="material-icons" *ngIf="i.icon">{{ i.iconClass }}</i>
                  <img
                    *ngIf="!i.icon"
                    src="../../assets/human.jpg"
                    class="list-img"
                  />
                </div>
                <div fxLayout="column" class="plr-8">
                  <span>{{ i.assigned }}</span>
                  <span class="font-size-12 text-grey">{{
                    i.designation
                  }}</span>
                </div>
              </div>
            </td>
            <td>{{ i.name }}</td>
            <td>
              <span
                class="font-size-12 text-white span-border p-4 plr-8 {{
                  i.color
                }} text-bold"
              >
                {{ i.pririty }}
              </span>
            </td>
            <td>{{ i.budget }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div fxFlex="40" class="blog-item">
    <img src="../../assets/image.jpg" />
    <div class="details p-20">
      <h3>Business Development of rules</h3>
      <span
        class="font-size-12 p-4 bg-20AEE3 span-border plr-8 text-white text-bold"
        >Technology</span
      >
      <p class="text-align-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
        officia nemo, in sed, voluptas suscipit tenetur officiis sapiente eaque
        velit facilis sequi architecto repudiandae saepe sit itaque repellat.
        Iusto, beatae?
      </p>
      <p fxLayoutAlign="space-between center" class="mt-40">
        <span>
          Read More
        </span>
        <span>
          <i class="material-icons">share</i>
        </span>
      </p>
    </div>
  </div>
</section>
