@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$brand-colors: ("FF5C6C",
#FF5C6C),
("6772E5",
#6772E5),
("20AEE3",
#20AEE3),
("24D2B5",
#24D2B5);
@each $color in $brand-colors {
	.bg-#{nth($color,1)} {
		background-color: nth($color, 2);
	}
}

@for $font from 1 to 100 {
	.font-size-#{$font} {
		font-size: 1px * $font;
	}
}

@for $m from 0 to 100 {
	.m-#{$m} {
		margin: 1px * $m;
	}
}

@for $mt from 1 to 100 {
	.mt-#{$mt} {
		margin-top: 1px * $mt;
	}
}

@for $mb from 1 to 100 {
	.mb-#{$mb} {
		margin-bottom: 1px * $mb;
	}
}

@for $p from 1 to 100 {
	.p-#{$p} {
		padding: 1px * $p;
	}
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

section {
	background-color: #F6F9FA;
	padding: 20px;
	margin: 20px;
}

.line-height-nomal {
	line-height: normal;
}

.display-block {
	display: block;
}

.plr-8 {
	padding-left: 8px;
	padding-right: 8px;
}

.text-white {
	color: #ffffff;
}

.text-grey {
	color: #848484;
}

.text-align-justify {
	text-align: justify;
}

.h-100 {
	height: 100%;
}

.text-bold {
	font-weight: bold;
}
